/* LARGE DEVICES */
@media screen and (max-width:1000px) {
    #all_category>a>span {
        visibility: hidden;
    }
}

@media screen and (max-width:900px) {
    #aboutus_pic {
        display: none;
    }
    #aboutus{
        justify-content: center;
    }
    #aboutus_texts{
        width: 100%;
        align-items: center;
        padding-right: 45px;
    }
    #aboutus_under_texts{
        align-items: center;
    }
    #aboutus_texts > h2{
        text-align: center;
    }
    #aboutus_texts > h3{
        text-align: center;
    }
    .create_adv_button {
        width: 10rem;
    }

    #search_input {
        width: 50%;

    }

    #search_frame>button {
        width: 50%;
    }

}

@media screen and (max-width:800px) {
    html {
        font-size: 14px;
    }

    #aboutus_texts>h1 {
        font-size: 34px;
    }

    #aboutus_texts>h2 {
        font-size: 34px;
    }

    #aboutus_pic_frame {
        width: 300px;
        height: 360px;
    }
    .category_pic{
        width: 100px;
        height: 100px;
    }
    .category_pic > i {
        font-size: 2.7rem;
    }
    .category > a > h6{
        font-size: 1.5rem;
    }
    .spec_product{
        width: 250px;
        height: 380px;
    }
    .product_pic_frame{
        width: 230px;
        height: 256px;
    }

}

/* @media screen and (max-width:){
    
} */