/* LARGE DEVICES */
@media screen and (max-width:1000px) {
    #all_category>a>span {
        display: none;
    }

    .footer_container {
        height: 800px;
    }

    .footer_upper_responsive {
        row-gap: 30px;
        column-gap: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        justify-content: center;
    }

    .footer_call_info {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 2 span;
    }
}

/* Tablet or ipad */
@media screen and (max-width:900px) {
    #aboutus_pic {
        display: none;
    }

    #aboutus {
        justify-content: center;
    }

    #aboutus_texts {
        width: 100%;
        align-items: center;
    }

    #aboutus_under_texts {
        align-items: center;
    }
    #aboutus_texts>h1{
        text-align: center;
    }

    #aboutus_texts>h2 {
        text-align: center;
    }

    #aboutus_texts>h3 {
        text-align: center;
    }

    #aboutus_texts>h4 {
        text-align: center;
    }

    .create_adv_button {
        width: 10rem;
    }

    #search_input {
        width: 50%;

    }

    #search_frame>button {
        width: 50%;
    }

}

/* tablet  */
@media screen and (max-width:800px) {
    html {
        font-size: 14px;
    }

    #aboutus_texts>h1 {
        font-size: 34px;
    }

    #aboutus_texts>h2 {
        font-size: 34px;
    }

    #aboutus_pic_frame {
        width: 300px;
        height: 360px;
    }

    .category_pic {
        width: 100px;
        height: 100px;
    }

    .category_pic>i {
        font-size: 2.7rem;
    }

    .category>a>h6 {
        font-size: 1.5rem;
    }

    .spec_product {
        width: 250px;
        height: 380px;
    }

    .product_pic_frame {
        width: 230px;
        height: 256px;
    }

    .footer_container {
        padding: 3rem 40px 0 40px;
    }
}

@media screen and (max-width:700px) {
    #main_menu {
        gap: 10px;
        justify-content: space-around;

    }

    #registerandlogin_button {
        width: 120px;
    }

    .create_adv_button {
        min-width: 120px;
    }

    h6 {
        font-size: 15px;
    }
}

/* mobile */
@media screen and (max-width:660px) {
    .container {
        width: 100%;
        padding: 2px;
    }

    #header_container {
        width: 98.7%;;
    }

    #header_up {
        position: relative;
        height: 90px;
        align-items: end;
        padding-bottom: .7px;
    }

    #header_logo {
        position: absolute;
        right: 40%;
        top: -15px;
    }

    #header_logo>a>img {
        width: 103px;
        height: 70px;
    }

    .all_category>a {
        width: 100%;
    }

    #aboutus {
        width: 100%;
    }

    #main_menu {
        width: 100%;
        margin-left: 0;
    }

    #search_frame {
        width: 66.66%;
        border-left: none;
        border-radius: 0 8px 8px 0px;
    }
    #search_input{
        width: 45%;
    }
    #search_frame>button {
        width: 55%;
    }

    #registerandlogin_button {
        width: 33.33%;
        height: 42px;
        border: 2px solid #03045E;
        border-right: none;
        border-radius: 8px 0 0 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px 0;
        background-color: #f9f9f9;
    }

    #registerandlogin_button>button {
        background-color: #f9f9f9;
        border: none;
        padding: 8px 0;
        height: 100%;
        border-right: 2px solid #03045E;
        border-radius: 8px 0px 0 8px;

    }

    header .create_adv_button {
        display: none;
    }

    .category_pic {
        width: 60px;
        height: 60px;
    }

    .category_pic>i {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:440px){
    #header_logo {
        right: 37%;
    }   
}